@import "../homepage/variables";
@font-face {
  font-family: "greycliff";
  src: url(../font/GreycliffCF-Regular.ttf);
}

html {
  height: 100%;
  width: 100%;
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: $fPBackgroundC;
    color: $fPTextColor;
    box-sizing: border-box;
    font-family: greycliff;
  }
}
.navBar {
  box-sizing: border-box;
  margin: 0;
  padding: 0 50px;
  color: $fPTextColor;
  height: 15%;
  width: 100%;
  display: flex;

  .logo {
    height: 100%;
    img {
      height: 100%;
    }
  }
  .navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 40px;
    .navigationLinks {
      ul {
        list-style-type: none;
        text-transform: uppercase;
        display: flex;
        gap: 20px;
        cursor: pointer;
        div {
          color: $fPTextColor;
          height: 40px;
          display: flex;
          align-items: center;
          padding: 0 10px;

          &:hover {
            background: $hoverGray;
          }
        }
      }
    }
  }
}
.sProduct {
  padding: 50px;
  height: 80%;
  margin: 0;
  box-sizing: border-box;
  div {
    height: 100%;
    width: 100%;
    display: flex;
    img {
      height: 100%;
    }
  }
}
.productInformation {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .buyButtonDiv {
    justify-content: end;
    align-items: center;
    .buyButton {
      width: 200px;
      padding: 15px 0;
      text-align: center;
      margin: 20px 10px;
      border-radius: 25px;
      font-weight: bold;
      border: 2px solid $buttonBlue;
      background: transparent;
      color: $fPTextColor;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      span {
        background: $buttonBlue;
        height: 100%;
        width: 0%;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s;
      }

      &:hover {
        border-color: $fPBackgroundC;
        span {
          width: 100%;
        }
      }
    }
  }
  h1 {
    margin: 0;
  }
}
